# H3Pandas key features

## Install vgridpandas

In [14]:
# %pip install vgridpandas

## H3

### Latlong to H3

In [15]:
import pandas as pd
from vgridpandas import h3pandas
# df = pd.DataFrame({'lat': [14.6657293, -187.5088058], 'lon': [14, 15]})
df = pd.read_csv('https://github.com/uber-web/kepler.gl-data/raw/master/nyctrips/data.csv')
df = df.rename({'pickup_longitude': 'lon', 'pickup_latitude': 'lat'}, axis=1)[['lon', 'lat', 'passenger_count']]
df = df.head(100)
resolution = 8
df = df.h3.latlon2h3(resolution)
df

                       lon        lat  passenger_count
h3_08
882a100d2dfffff -73.993896  40.750111                1
882a100d2bfffff -73.976425  40.739811                1
882a100d63fffff -73.968704  40.754246                5
882a100e25fffff -73.863060  40.769581                5
882a10089bfffff -73.945541  40.779423                1
...                    ...        ...              ...
882a100f53fffff -73.866035  40.770744                1
882a1072c9fffff -73.994415  40.724907                1
882a100d27fffff -73.994217  40.734909                1
882a10728dfffff -74.014938  40.710232                1
882a100d27fffff -73.998070  40.735664                1

[100 rows x 3 columns]

### H3 to geo boundary

In [16]:
df = df.h3.h32geo()
df
# df.to_file(f"h3_{resolution}.geojson", driver="GeoJSON")

,lon,lat,passenger_count,geometry
h3_08,,,,
882a100d2dfffff,-73.993896,40.750111,1,"POLYGON ((-73.98804 40.75427, -73.99442 40.753..."
882a100d2bfffff,-73.976425,40.739811,1,"POLYGON ((-73.9748 40.74405, -73.98118 40.743,..."
882a100d63fffff,-73.968704,40.754246,5,"POLYGON ((-73.9689 40.75743, -73.97528 40.7563..."
882a100e25fffff,-73.863060,40.769581,5,"POLYGON ((-73.86237 40.77082, -73.86875 40.769..."
882a10089bfffff,-73.945541,40.779423,1,"POLYGON ((-73.94629 40.78183, -73.95267 40.780..."
...,...,...,...,...
882a100f53fffff,-73.866035,40.770744,1,"POLYGON ((-73.8648 40.77869, -73.87118 40.7776..."
882a1072c9fffff,-73.994415,40.724907,1,"POLYGON ((-73.99148 40.73303, -73.99786 40.731..."
882a100d27fffff,-73.994217,40.734909,1,"POLYGON ((-73.99393 40.74089, -74.00031 40.739..."
882a10728dfffff,-74.014938,40.710232,1,"POLYGON ((-74.0165 40.71649, -74.02287 40.7154..."
882a100d27fffff,-73.998070,40.735664,1,"POLYGON ((-73.99393 40.74089, -74.00031 40.739..."

### H3 polyfill

In [19]:
# resolution = 9
# df = df.h3.polyfill(resolution, explode = True)
# df
# # df.to_file(f"h3_{resolution}.geojson", driver="GeoJSON")
from vgridpandas import h3pandas
import geopandas as gpd
from shapely.geometry import box, Polygon
gdf = gpd.GeoDataFrame(geometry=[box(0, 0, 1, 1)])
gdf = gdf.h3.polyfill(4, explode = True)
gdf

                              geometry      h3_polyfill
0  POLYGON ((1 0, 1 1, 0 1, 0 0, 1 0))  84754c7ffffffff
0  POLYGON ((1 0, 1 1, 0 1, 0 0, 1 0))  84754e9ffffffff
0  POLYGON ((1 0, 1 1, 0 1, 0 0, 1 0))  84754c5ffffffff
0  POLYGON ((1 0, 1 1, 0 1, 0 0, 1 0))  84754e1ffffffff
0  POLYGON ((1 0, 1 1, 0 1, 0 0, 1 0))  8475413ffffffff
0  POLYGON ((1 0, 1 1, 0 1, 0 0, 1 0))  84754ebffffffff
0  POLYGON ((1 0, 1 1, 0 1, 0 0, 1 0))  84754edffffffff
0  POLYGON ((1 0, 1 1, 0 1, 0 0, 1 0))  84754e3ffffffff