# MaidenheadPandas key features

## Install vgridpandas

In [4]:
# %pip install vgridpandas

### Latlong to Maidenhead

In [5]:
import pandas as pd
from vgridpandas import maidenheadpandas
df = pd.DataFrame({'lat': [10.775299665325505, 10.78731693], 'lon':[106.70647975040788,107.99626405]})
resolution = 3
df = df.maidenhead.latlon2maidenhead(resolution)
df

                     lat         lon
maidenhead_02
OK30           10.775300  106.706480
OK30           10.787317  107.996264

### Maidenhead to geo boundary

In [6]:
df = df.maidenhead.maidenhead2geo()
df
df.to_file(f"maidenhead_{resolution}.geojson", driver="GeoJSON")